body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35a2cd; /* Green background */
    color: white;
    text-align: center;
    padding: 20px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Transition for link color */
}

nav ul li a:hover {
    color: #131305; /* Change color on hover */
}


.contact-section {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.contact-form {
    max-width: 500px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 4.5px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.submit-btn {
    background-color: #35a2cd; /* Green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #35a2cd; /* Darker green on hover */
}

footer {
    background-color: #333; /* Dark background */
    color: white;
    text-align: center;
    padding: 23px 0;
    position: relative;
    bottom: 20;
    width: 100%;
}