body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #35a2cd; /* Green background */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Transition for link color */
}

nav ul li a:hover {
    color: #131305; /* Change color on hover */
}

.about-section {
    display: flex;
    align-items: center; /* Center vertically */
    padding: 20px;
    transition: background-color 0.2s ease; /* Transition for background color */
}

.about-section:hover {
    background-color: #f0f0f0; /* Change background on hover */
}

.about-content {
    display: flex;
    align-items: top; /* Center items vertically */
    width: 1000%;
}

.about-image {
    width: 270px;
    height: auto;
    margin-right: 20px; /* Space between image and text */
    transition: transform 0.3s ease; /* Transition for image scaling */
    border-radius: 100%;
}

.about-image:hover {
    transform: scale(1.1); /* Scale image on hover */
}

.description {
    max-width:10000%;
    text-align: left;
    padding-right:30000 cm;
    padding-bottom:0cm;
}

footer {
    background-color: #333; /* Dark background */
    color: white;
    text-align: center;
    padding: 23px 0;
    position: relative;
    bottom: 20;
    width: 100%;
}